@{
    ViewData["Title"] = "Fibonacci";
    int max = (int)ViewData["max"];
    int next = 2;
    int current = 1;
    int previous = 1;
}

<nav id="page-options">
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100">100</a></li>
    </ul>
</nav>

<ul id="fibonacci">
    @while ((current + previous) < max)
    {
        <li>@current.ToString()</li>
        next = current + previous;
        previous = current;
        current = next;
    }
    @if(next < max)
    {
        <li>@next</li>
    }
</ul>