<!DOCTYPE html>
<html style="cursor: not-allowed;
        background-image: url(https://gettwobirdsstonedatonce.files.wordpress.com/2012/06/squirrel-gang.jpg); background-blend-mode: hard-light;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Post.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    <script>
        Math.Vector = function (x, y) {
            this.x = x;
            this.y = y;
        }
        Math.Vector.prototype = {
            clone: function () {
                return new Math.Vector(this.x, this.y);
            },
            negate: function () {
                this.x = -this.x;
                this.y = -this.y;
                return this;
            },
            neg: function () {
                return this.clone().negate();
            },
            addeq: function (v) {
                this.x += v.x;
                this.y += v.y;
                return this;
            },
            subeq: function (v) {
                return this.addeq(v.neg());
            },
            add: function (v) {
                return this.clone().addeq(v);
            },
            sub: function (v) {
                return this.clone().subeq(v);
            },
            multeq: function (c) {
                this.x *= c;
                this.y *= c;
                return this;
            },
            diveq: function (c) {
                this.x /= c;
                this.y /= c;
                return this;
            },
            mult: function (c) {
                return this.clone().multeq(c);
            },
            div: function (c) {
                return this.clone().diveq(c);
            },

            dot: function (v) {
                return this.x * v.x + this.y * v.y;
            },
            length: function () {
                return Math.sqrt(this.dot(this));
            },
            normal: function () {
                return this.clone().diveq(this.length());
            }
        };

        function evade(evt) {
            var $this = $(this),
                corner = $this.offset(),
                center = { x: corner.left + $this.outerWidth() / 2, y: corner.top + $this.outerHeight() / 2 },
                dist = new Math.Vector(center.x - evt.pageX, center.y - evt.pageY),
                closest = $this.outerWidth() / 2;

            // proximity test
            if (dist.length() >= closest) {
                return;
            }

            // calculate new position
            var delta = dist.normal().multeq(closest).sub(dist),
                newCorner = { left: corner.left + delta.x, top: corner.top + delta.y };

            // bounds check
            var padding = parseInt($this.css('padding-left'));
            if (newCorner.left < -padding) {
                newCorner.left = -padding;
            } else if (newCorner.left + $this.outerWidth() - padding > $(document).width()) {
                newCorner.left = $(document).width() - $this.outerWidth() + padding;
            }
            if (newCorner.top < -padding) {
                newCorner.top = -padding;
            } else if (newCorner.top + $this.outerHeight() - padding > $(document).height()) {
                newCorner.top = $(document).height() - $this.outerHeight() + padding;
            }

            // move bumper
            $this.offset(newCorner);

            fixBackground();
        }

        function beginEvade() {
            $(this).bind('mousemove', evade);
        }

        function endEvade() {
            $(this).unbind('mousemove', evade);
        }

        function fixBackground() {
            $(document.body).css("height", $(document).outerHeight());
            $(document.body).css("width", $(document).outerWidth());
        }

        $(function () {
            $('.circle').wrap('<span class="bumper" />')

            $('.bumper').bind('mouseover', beginEvade);
            $('.bumper').bind('mouseout', endEvade);
        });

        function clickHandler(e) {
            e.preventDefault();
            alert('🚫🐁🚫Mice are forbidden! Your tails are inferior🚫🐁🚫\nThis message was brought to you by 🐿️🐿️Squirrel Gang🐿️🐿️');
            return false;
        }

        $(document).ready(function () {
            //document.addEventListener("keyup", clickHandler, true);
            document.addEventListener("mousedown", clickHandler, true);
            document.addEventListener("mousemove", mouseMoveHandler, true);
            document.addEventListener("keyup", keyupHandler, true);
            randomizeColors();
            $("#reviewTable").css("max-width", Math.ceil(window.outerWidth() * .6));

        });
        var count = 1;
        var marginSize = count;
        var marginIncrease = true;
        function mouseMoveHandler(e) {
            if (count % 5 == 0) {
                randomizeColors();
            }
            var reviews = $('.review');
            for (var i = 0; i < reviews.length; i++) {
                $(reviews[i]).css("margin", marginSize + "px");
            }
            if (marginSize == 100) {
                marginIncrease = false;
            }
            else if (marginSize == 0) {
                marginIncrease = true;
            }
            if (marginIncrease) {
                marginSize++;
            }
            else {
                marginSize--;
            }

            var magicNumber = Math.round(Math.random() * $(document).outerHeight() > $(document).outerWidth() ? $(document).outerHeight() : $(document).outerWidth());
            magicNumber = 1000;
            if ((e.pageX == magicNumber || e.pageY == magicNumber)) {
                rickRoll();
                alert('Nice, you found a magic pixel.');
            }
            console.log('x: ' + e.pageX + '| y: ' + e.pageY + "| " + magicNumber);
            count++;
            fixBackground();
        }

        function keyupHandler(e) {
            if (confirm("Are you sure?")) {
                return true;
            }
            else {
                var elem = e.srcElement;
                if (elem.tagName == "TEXTAREA" || (elem.tagName == "INPUT")) {
                    elem.value = "";
                }
                e.preventDefault();
                return false;
            }
        }

        function randomizeColors() {
            var all = document.getElementsByTagName('*');
            for (var i = -1, l = all.length; ++i < l;) {
                if (!(all[i].classList.contains("filled"))) {
                    setRandomColor(all[i]);
                }
            }
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function setRandomColor(e) {
            //var randColor = getRandomColor();
            //var randTextShadow = getRandomColor();
            //$(e).animate({
            //    color: randColor/*,
            //    textshadow: randTextShadow */
            //}, 1000, false);
            var fontSize = Math.round(Math.random() * 1) + 30; 
            $(e).css("font-size", fontSize + "px");
            $(e).css("color", getRandomColor());
            $(e).css("text-shadow", "2px 2px " + getRandomColor());
        }

        function rickRoll() {
            var html = '<iframe width="1" height="1" src="https://www.youtube.com/embed/lXMskKTw3Bc?controls=0&autoplay=1&cc_load_policy=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
            var vid = document.createElement('div');
            vid.innerHTML = html;
            $(vid).css("visibility", "hidden");
            document.body.appendChild(vid);
        }

    </script>
</head>
<body style="background-image: url(https://gettwobirdsstonedatonce.files.wordpress.com/2012/06/squirrel-gang.jpg); background-blend-mode: hard-light;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Post.Web</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Post.Web</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <iframe id="wii" width="1" height="1" src="https://www.youtube.com/embed/3q7oJuyy5Ac?controls=0&autoplay=1&cc_load_policy=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    @RenderSection("Scripts", required: false)
</body>
</html>
