/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.review {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "title rating" "author ." "text text";
    box-shadow: 3px 3px 3px 3px;
    grid-gap: 5px;
    min-width: 100%;
    margin: 5px;
    background-image: url(/images/forDummies.png);
    background-size: contain;
}

.review-title {
    grid-area: title;
}

.review-rating {
    grid-area: rating;
}

.review-author {
    grid-area: author;
}

.review-text{
    grid-area: text;
}

.filled {
    color: unset;
    text-shadow: unset;
}

.filled:before {
    content: "\2605";
    color: #FFC000;
    position: absolute;
}

.bumper {
    /*position: absolute;
    top: 75px;
    left: 200px;*/
    padding: 32px;
    overflow: auto;
    /*outline: 1px solid red;*/
}
