@model IEnumerable<Review>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Past Reviews</h2>
<table id="reviewTable" style="min-width: 100%;" >
    @{
        foreach (var review in Model)
        {
            <tr>
                <td>
                    <div class="review">
                        <div class="review-title">@review.Title</div>
                        <div class="review-rating">
                            @{
                                for (int i = 1; i <= review.Rating; i++)
                                {
                                    <span class="filled">&#9734;</span>
                                }
                            }
                        </div>
                        <div class="review-author"><p>@review.Username on @review.Date.ToShortDateString()</p></div>
                        <div class="review-text"><span>@review.Text</span></div>
                    </div>
                </td>
            </tr>
        }
    }
</table>
<a asp-action="NewReview" asp-controller="Home" class="circle" style="font-size: xx-large;">Submit a new review</a>
